<!--{template Header.htm}-->
<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" href="javascript:history.back();"></a>

    <h1 class="mui-title">{eval echo Ubb::decode($title);}</h1>
</header>
<div class="mui-content">
    <div class="mui-content-padded">
        <span class="mui-pull-right"><!--{eval echo Helper::formatTimestamp($timeline);}--></span>
    </div>
    <div class="indent">
        <!--{$content}-->
    </div>
</div>
<!--{template Footer.htm}-->