<div style="width:100%;background:#FFFFFF;display:block;border-top:1px dotted #CCCCCC;position:fixed;bottom:0;">
    <div class="center">
        {eval echo isset($copyright) ? $copyright : ''}
    </div>
</div>
<script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fcdd28cdfea81ed7bc9791b6b6217e73e' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>

</html>