<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="refresh" content="1; url={$url}"/>
    <meta name="viewport" content="width=device-width; initial-scale=1; user-scalable=no"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="author" content="穿青人, QQ:1750438989"/>
    <script type="text/javascript" src="/views/assets/js/jquery.js"></script>
    <script type="text/javascript" src="/views/assets/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/views/assets/js/json2.js"></script>
    <title>跳转中……</title>
    <link href="/views/assets/css/liyujiang.css" rel="stylesheet"/>
</head>
<body>
<p><a href="{$url}">跳转中……</a></p>
<script type="text/javascript">
</script>
</body>
</html>